/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light mode variables */
:root {
    --main-color-header:#00b7ce;
    --main-color: #325b9d;
    /* Main color */
    --main-color-light: #d3b0e4;
    /* Very light (hover, backgrounds) */
    --main-color-dark: #902173;
    /* for borders & accents */
    --main-color-open-bg: #fdabbd;
    /* background for open state */
    --accent-color: #fd8db7;
    /* Accent color for highlights */
    --background-light: #f8f4fa;
    /* General light background */
    --main-text-color: #2f3e3f;
    /* Standard dark text */
    --details-bg-color: rgba(208, 35, 152, 0.15);
    /*Background details*/
    --border-color: #8781c6;
    /*Border Color NavBar*/

}

/* Dark mode variables */
[data-theme="dark"] {
    --main-color: #00b7ce;
    /* a darker green */
    --main-color-light: #325b9d;
    /* dark tones for backgrounds */
    --main-color-dark: #1a2333;
    /* dark accents */
    --main-color-open-bg: #445b5a;
    --accent-color: #fd8db7;
    /* lighter accent color for contrast */
    --background-light: #121212;
    /* dark background */
    --main-text-color: #eaeaea;
    /* light text */
    --details-bg-color: rgba(237, 37, 178, 0.2);
    --border-color: #3a4552;
}

/*! Style CV-html */

/* Global */
html {
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 4%;
    color: var(--main-text-color);
}

strong {
    font-weight: 700;
}

/* Scroll fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    /* Appears from slightly below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    color: var(--main-color-header);
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    
}

h2 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
    color: var(--main-color);
}
h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.label {
    font-weight: bold;
}

.highlight-role {
    font-weight: 500;
    color: var(--accent-color);
    font-style: italic;
}

.date {
    font-size: 0.9rem;
    color: #777;
    font-style: italic;
    margin-bottom: 0.3rem;
}

/* Keyframes */
@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}

#cursor {
    font-weight: bold;
    color: var(--main-color);
    animation: none;
}