/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables para tema claro */
:root {
    --main-color: #3A7D74;
    /* Main color */
    --main-color-light: #dff6f0;
    /* Very light (hover, backgrounds) */
    --main-color-dark: #348c74;
    /* for borders & accents */
    --main-color-open-bg: #b2e5d4;
    /* background for open state */
    --accent-color: #ff6f61;
    /* Accent color for highlights */
    --background-light: #eafcf9;
    /* General light background */
    --main-text-color: #2f3e3f;
    /* Standard dark text */
    --details-bg-color: rgba(94, 201, 179, 0.4);
    /*Background details*/
    --border-color: #ccc;
    /*Border Color NavBar*/

}

/* Dark mode variables */
[data-theme="dark"] {
    --main-color: #5ec9b3;
    /* a darker green */
    --main-color-light: #2b4f4a;
    /* dark tones for backgrounds */
    --main-color-dark: #1f332f;
    /* dark accents */
    --main-color-open-bg: #1b3b37;
    --accent-color: #ff9a8d;
    /* lighter accent color for contrast */
    --background-light: #121212;
    /* dark background */
    --main-text-color: #e0e0e0;
    /* light text */
    --details-bg-color: rgba(58, 125, 116, 0.4);
    --border-color: #444;
}

/*! Style CV-html */

/* Global */
html {
    scroll-behavior: smooth;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 4%;
    color: var(--main-text-color);
}

strong {
    font-weight: 700;
}

/* Scroll fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    /* Appears from slightly below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

h1 {
    color: var(--main-color);
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    color: var(--main-color);
}

.label {
    font-weight: bold;
}

.highlight-role {
    font-weight: 500;
    color: var(--accent-color);
    font-style: italic;
}

.date {
    font-size: 0.9rem;
    color: #777;
    font-style: italic;
    margin-bottom: 0.3rem;
}

/* Keyframes */
@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}

#cursor {
    font-weight: bold;
    color: var(--main-color);
    animation: none;
}