/*! Style CV-html */
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #eaeaea;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  #navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  #navbar a:hover {
    color: #0073b1; /* Azul LinkedIn o tu color principal */
    text-decoration: underline;
  }
  
  html {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
  }
/* Set a background color and font for the body */
body {
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}
/* Style the main container */
#cv-container {
  width: 80%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}
#cv-container h2{
    text-align: center;
}
#education li{
    list-style-type: none;
    margin: 15px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  padding-bottom: 30px;
}
#experience li{
    list-style-type: none;
    margin: 15px;
    margin-bottom: 30px;
  border-bottom: 2px solid #333;
  padding-bottom: 30px;
}
#extra-sections{
    display: flex;
  justify-content: center;     /* Centra horizontalmente */
  gap: 30px;                   /* Espacio entre los bloques */
  flex-wrap: nowrap;             /* Para que se ajusten en pantallas pequeñas */
  margin-top: 40px;
  padding: 20px;
  overflow-x: auto;
  max-width: 1000px;      /* Limita el ancho máximo del contenedor */
  margin-left: auto;
  margin-right: auto; 
}
#extra-sections section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 360px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  #extra-sections ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
/* Style the header */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
header div{
  margin: 4%;
}
h1{
  font-family: "dancing script", cursive, Arial, sans-serif;;
  font-weight: bold;
  font-size: 5rem;
}
.contact-item{
    text-align: center;
    margin: 0 20px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 4%;
}
.label{
    font-weight: bold;
}
#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
section{
    margin-top: 40px;
    margin-bottom:40px;
    scroll-margin-top: 60px;
}
footer{
  background-color:  #35424a;
   color: #ffffff;
    padding: 20px 0;
}